@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #f4a261;
  --color-text-dark: #2d2d2d;
  --color-text-light: #ffffff;
  --color-background: #ffffff;
  --color-cream: #ede4d8;
  --color-accent-vibrant: #ff6347;
  --color-accent: #a9cba4;
  --color-secondary: #8a4a2b;
  --color-text-black: #1a1a1a;
  --color-white: #ffffff;
}

::selection {
  background: var(--color-primary);
  color: var(--color-text-light);
}

::-moz-selection {
  background: var(--color-primary);
  color: var(--color-text-light);
}

body {
  font-family: "Readex Pro", sans-serif;
  background-color: var(--color-background);
  color: var(--color-text-dark);
  margin: 0;
  padding: 0;
}
